compile_commands.json
generateCDB
IDAstar6
generateEDB1_6
generateEDB2_6
pattern_databases/edges1_6.patdb
pattern_databases/edges2_6.patdb
documents/
generateEDB1_7
generateEDB1_8
generateEDB2_7
generateEDB2_8
pattern_databases/edges1_7.patdb
pattern_databases/edges2_7.patdb
testbijective6
testbijective7
testbijective8
testscrambles6
testscrambles7
testscrambles8

