compile_commands.json
.vscode/
documents/
pattern_databases/edges1_6.patdb
pattern_databases/edges2_6.patdb
pattern_databases/edges1_7.patdb
pattern_databases/edges2_7.patdb
testscrambles6
testscrambles7
testscrambles8
generateCDB
generateEDB1_6
generateEDB2_6
generateEDB1_7
generateEDB2_7
generateEDB1_8
generateEDB2_8
IDAstar6
IDAstar7
IDAstar8
testbijective6
testbijective7
testbijective8
